.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 26px;
}

.logo {
  width: 143px;
  height: 32px;

  & path {
    fill: white;
  }
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
