.content {
  padding-top: 64px;
}

.FilmTitle {
  margin: 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 117%;
  color: #fff;
  margin-bottom: 64px;

  @media (max-width: 450px) {
    font-size: 24px;
    line-height: 133%;
  }
}

.img {
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 40px;
  row-gap: 64px;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 900px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 450px) {
    grid-template-columns: 1fr;
  }
}

.item {
  display: block;
  position: relative;
  box-shadow: 0 0 80px 0 rgba(255, 255, 255, 0.33);
  border-radius: 28px;
  overflow: hidden;
  background-color: red;
}

.link {
  border-radius: inherit;
  text-decoration: none;
}

.id {
  position: absolute;
  padding: 8px 25px;
  background-color: #fff;
  color: #6a5dc2;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  border-radius: inherit;
  top: -12px;
  left: -13px;
}

.descr {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 81px;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  text-align: center;
  color: #fff;
  background-color: black;
}

.imageBlock {
  height: 220px;
}

.img {
  width: 100%;
  height: 100%;
  border-radius: 0;
}
