.content {
  padding: 42px 0;

  @media (max-width: 450px) {
    padding: 36px 0;
  }
}

.list {
  display: flex;
  justify-content: end;
  gap: 24px;

  @media (max-width: 450px) {
    justify-content: start;
  }
}

.item {
  line-height: 0;
}

.link {
  display: block;

  & path {
    transition: fill 0.2s ease-in-out;
  }

  & rect {
    transition: stroke 0.2s ease-in-out;
  }

  &:hover path {
    fill: #b4a9ff;
  }

  &:hover rect {
    stroke: #b4a9ff;
  }

  @media (max-width: 450px) {
    & svg {
      height: 24px;
      width: 24px;
    }
  }
}
