.header {
  display: flex;
  padding: 24px 0;
  justify-content: space-between;

  @media (max-width: 450px) {
    padding: 20px 0;
    padding-bottom: 9px;
  }
}

.logo {
  font-size: 30px;

  @media (max-width: 450px) {
    width: 80px;
    height: 18px;
  }
}

.link {
  display: flex;
  align-items: center;
  line-height: 0;
}
