@mixin default {
  display: block;
  position: relative;
  padding-bottom: 7px;
  font-weight: 400;
  font-size: 24px;
  line-height: 133%;
  text-decoration: none;
  color: inherit;

  transition: color 0.2s ease-in-out;

  @media (max-width: 1200px) {
    padding-bottom: 0;
  }
}

@mixin btnReset {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.active {
  border-bottom: 1.5px solid #dc5dfc;
  @include default();

  @media (max-width: 1200px) {
    border: none;
  }
}

.activeChild {
  border-bottom: 1.5px solid #dc5dfc;
  @include default();

  @media (max-width: 1200px) {
    padding-bottom: 10px;
  }
}

.default {
  border-bottom: 1.5px solid transparent;
  @include default();
  &:hover {
    color: #b4a9ff;
  }

  &:hover path {
    fill: #b4a9ff;
  }
}

path {
  transition: fill 0.2s ease-in-out;
}

.btn {
  @include btnReset();

  display: flex;
  align-items: center;
  gap: 11px;

  & path {
    fill: white;
    fill-opacity: 1;
  }
}
